*{
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
}
#menu nav ul li{
    display: inline;
}
#thiago nav ul li{
    display: inline;
}
#thiago p{
    max-width: 200px;
    min-width: 100px;
    height: 90px;
}
header img{
    display: inline-block;
    border-radius: 100%;
    width: 200px;
    margin: 5px auto;
    position: relative;
    left: 100px;
    top: 50px;
    /* box-sizing: border-box; */
    
}
header{
    margin-top: 0;
    box-sizing: border-box;
    position: fixed;
    left: 5px;
    /* border: 5px dashed white; */
    width: 1320px;
    z-index: 4;
    background-color: black;
}
header h1{
    width: 400px;
    font-size: 50px;
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    top: 25px;
    bottom: 100px;
    left: 100px;
}
header #menu{
    bottom: 250px;
    left: 850px;
    position: relative;
    width: 400px;
}
header #menu nav ul li a{
    text-decoration: none;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin: 5px;
    box-sizing: border-box;
}
#thiago{
    position: relative;
    top: 100px;
    left: 1100px;
    width: 200px;
    height: 400px;
    border-radius: 30px;
    text-align: center;
    background-color: rgb(43, 43, 43);
}
#thiago img{
    position: relative;
    bottom: 75px;
    width: 150px;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 100%;
}
#thiago nav{
    position: relative;
    right: 25px;
    top: 25px;
}
#thiago nav ul li a{
    text-decoration: none;
    color: white;
}
#thiago #bio{
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    bottom: 80px;
}
#rodape{
    position: relative;
    top: 500px;
}
#rodape nav ul li a{
    text-decoration: none;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin: 5px;
    box-sizing: border-box;
}
#rodape nav ul li{
    display: inline;
}
#conteudo{
    position: relative;
    bottom: 300px;
    left: 50px;
    width: 1000px;
    background-color: rgb(43, 43, 43);
    padding: 20px;
    border-radius: 30px;
    font-family: 'Courier New', Courier, monospace;

    
}
#conteudo h3{
    font-size: 50px;
}
#conteudo p{
    text-align: justify;
}



